NODE_ENV=development
PORT=3000
DB_HOST=srv1752.hstgr.io
DB_USER=u438930238_mandal
DB_PASSWORD=Mandal@2025
DB_NAME=u438930238_mandal
JWT_SECRET=MANDALSECRET
SENDGRID_API_KEY=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
RAZORPAY_KEY_ID=rzp_test_RH3zIRtAEYDDxw
RAZORPAY_KEY_SECRET=bxH5tcoac4CZQ6ZxcKHMg6Vi
TWILIO_SID=AC476cd48cad7e0126c2688d8c849a83e1
TWILIO_TOKEN=3d0ed886095f8cbc2dbbe4d26559a98d
TWILIO_PHONE=+917621892194
REDIS_URL=redis://localhost:6379